* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #b8bdb98c;
    background-repeat: no-repeat;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6rem 0;
}

.card {
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: white;
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 80px;
}

.lock-icon {
    font-size: 3rem;
}

h2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28px;
    margin-top: 10px;
    text-transform: uppercase;
}

p {
    font-size: 16px;
}

.passInput {
    margin-top: 15px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #2D6A4F;
    font-size: 15px;
    color: black;
    outline: none;
}

button {
    margin-top: 15px;
    width: 60%;
    background-color: #2D6A4F;
    color: white;
    border-radius: 12px;
    padding: 10px;
    text-transform: uppercase;
    cursor: pointer;
}